<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="./favicon.png">
      <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
      <link rel="manifest" href="./app.webmanifest">
      <link rel="preload" href="./images/hero-image_1-large.jpg" as="image">
      <link rel="preload" href="./images/hero-image_1-small.jpg" as="image">
      <meta name="description" content="Resto finder for you">
      <title>Resto Finder</title>
   </head>
   <body>
      <a href="#mainContent" class="skip-link">Menuju ke konten</a>
      <header class="app-bar">
         <div class="app-bar__menu">
           <button id="hamburgerButton"><i class="fa fa-bars" aria-hidden="true"></i></button>
         </div>
         <div class="app-bar__brand">
           <img src="./logo.png" alt="" srcset="">
         </div>
         <nav id="navigationDrawer" class="app-bar__navigation">
           <ul>
             <li><a href="/">Home</a></li>
             <li><a href="#/like">Favorites</a></li>
             <li><a href="https://github.com/hafidz0098">About Us</a></li>
           </ul>
         </nav>
      </header>
      
      <main id="mainContent" tabindex="0">
         
      </main>      
      <footer>
         <p>All Right Reserved &#169; 2023</p>
       </footer>
   </body>
</html>